# SBT
.bsp/
target/
project/project/
project/target/
.sbt/

# Compiled
*.class
*.jar

# IDE
.idea/
*.iml
.metals/

# Logs
*.log

# Secrets
*.env
.credentials.*
!.credentials.*.example
.secure_files/*
!.secure_files/
!.secure_files/*.example
cache.config
credentials.config
endpoint.config

# OS
.DS_Store
Thumbs.db
